     <html>
        <head>
                <style>
                    body { 
                        text-align: center; 
                        font-size: 19px; 
                        padding: 0px 20px;
                        background: white; 
                        font: 28px/1.55 Arial, Helvetica, sans-serif;
                    }
                    h1 { 
                       font: 18px/1 Arial, Helvetica, sans-serif;
                       font-weight: bold;
                       letter-spacing: 1.5px;
                       border-top: 2px  solid; border-color: black;
                       border-bottom: 2px solid; border-color: black;
                       position: center;
                       padding: 0px;
                       margin: 0px;
                       margin-bottom: %;
                       margin-left: 10%;
                       margin-right: 10%;
                     }
                    h2 {
                      text-align: left;
                      font-size: 25;
                      margin-left: 7%;
                      margin-right: 7%;
                      margin-top: -5%;
                      padding-left: 40;
                      padding-top: 200;
                       }
                    h3 {
                          text-align: left;
                          font-size: 25;
                          margin-left: 7%;
                          margin-right: 7%;
                          margin-top: 5%;
                          padding-left: 40;
                          padding-top: 200;
                          margin-bottom: 50;
                    }
                    table, th, td {
                        border: 2px solid black; 
                        border-left: 0px; 
                        border-right: 0px;
                        border-collapse: collapse;
                        padding: 10px;
                        margin-bottom: -16%;
                        margin-left: 10%;
                    }
                    footer { 
                       position: bottom;
                    }
                    .email {
                      font-size: 20;
                      float: left;
                      padding-left: 134;
                      }
                    .location {
                      font-size: 20;
                      float: right;
                      padding-right: 134;
                      }
                    .floated_img
                    {
                        float: left;
                        padding: 75px;
                        padding-top: 50px;
                        padding-left: 220px;
                        padding-right: 100px;
                    }

                    #container {
                       min-height:100%;
                       position:relative;
                    }

                    #body {
                       padding:10px;
                       padding-bottom: 75%;   
                    }
                    #footer {
                       position: absolute;
                       bottom:0;
                       width:100%;
                       height: ;
                    }
                    .section {
                        clear: both;
                        padding: 0px;
                        margin: 0px;
                    }

                    /*  COLUMN SETUP  */
                    .col {
                        display: inline-block;
                        margin: 1px 1px 1px 1px;
                        padding: 10%;
                        padding-top: %;
                    }
                    .col:first-child { margin-left: 0; }


                    /*  GROUPING  */
                    .group:before,
                    .group:after {
                        content:"";
                        display:table;
                    }
                    .group:after {
                        clear:both;
                    }
                    .group {
                        zoom:1; /* For IE 6/7 */
                    }
    @media only screen and (max-width: 480px) {
                        .col { margin: 1% 1% 1% 1%;}
                        .span1, .span2,{ width: 100%; }
                   }
                   </style>
                    </head>
                    <body>
                    <h1> PRANA YOGA: ALL LEVELS WELCOME</h1>
                    <div class="email">
                    <p>
                    hello@prana.com
                    </p>
                    <p>
                    (123) 436-7890
                    </p>
                    </div> 
                    <div class="location">
                    <p>
                    123 address
                    </p>
                    <p>city, state, zip
                    </p>
                    </div>
                    <h2>SCHEDULE</h2>
                    <table border="3" style="width:80%">
                      <tr>
                        <td>May 8th 7pm</td>
                        <td>Vinyasa Yoga</td> 
                        <td>Bruno</td>
                         <td>Sign up</td>
                      </tr>
                      <tr>
                        <td>May 9th 6pm</td>
                        <td>Flow Yoga</td> 
                        <td>Lee</td>
                         <td>Sign up</td>
                      </tr>
                      <tr>
                        <td>May 10th 5pm</td>
                        <td>Slow Flow</td> 
                        <td>Bruno</td>
                        <td>Sign up</td>
                      </tr><tr>
                        <td>May 11th 6pm</td>
                        <td>Strong Yoga</td> 
                        <td>Lee</td>
                        <td>Sign up</td>
                      </tr>
                    </table>
                    <h3>EVENTS</h3>
                       <div class="section group">
                        <div class="col span1">
                        <img src="http://wdl.tmimgcdn.com/img_articles/3622/brush1.jpg" alt="Mountain View">
                        </div>
                        <div class="col span2">
                        <img src="http://wdl.tmimgcdn.com/img_articles/3622/brush1.jpg" alt="Mountain View">
                        </div>
                       <div class="section group 2">
                        <div class="col span1">
                        <img src="http://wdl.tmimgcdn.com/img_articles/3622/brush1.jpg" alt="Mountain View">
                        </div>
                        <div class="col span2">
                        <img src="http://wdl.tmimgcdn.com/img_articles/3622/brush1.jpg" alt="Mountain View">
                        </div>        
                    </div>
                    <footer>Sign up to our mailing list : <a href="mailto:someone@example.com">someone@example.com</a>.</footer>
                    </body>
                    </html>